<div class="p-4 border border-gray-300 rounded-lg max-w-md">
  <h3 class="text-xl font-semibold mb-4">Brief</h3>
  <mat-slide-toggle color="primary" [checked]="true">Actif</mat-slide-toggle>

  <div class="flex flex-col space-y-4 my-4">
    <div class="flex flex-col">
      <label class="mb-1">Heure de début</label>
      <div class="relative">
        <input
          type="text"
          class="w-full border border-gray-300 rounded px-3 py-2 cursor-pointer"
          [value]="startHour + ':' + startMinute"
          (click)="showStartTimePicker = true"
          readonly
        />
        <div
          *ngIf="showStartTimePicker"
          class="absolute top-full left-0 bg-white border border-gray-300 rounded mt-1 z-10"
        >
          <div class="flex space-x-4 p-2">
            <mat-form-field appearance="outline" class="flex-1 m-0 p-0">
              <mat-select
                [(value)]="startHour"
                class="w-full"
                (selectionChange)="onStartTimeChange()"
              >
                <mat-option *ngFor="let hour of hours" [value]="hour">{{
                  hour
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="flex-1 m-0 p-0">
              <mat-select
                [(value)]="startMinute"
                class="w-full"
                (selectionChange)="onStartTimeChange()"
              >
                <mat-option *ngFor="let minute of minutes" [value]="minute">{{
                  minute
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col">
      <label class="mb-1">Durée</label>
      <div class="relative">
        <input
          type="text"
          class="w-full border border-gray-300 rounded px-3 py-2 cursor-pointer"
          [value]="durationHour + ':' + durationMinute"
          (click)="showDurationPicker = true"
          readonly
        />
        <div
          *ngIf="showDurationPicker"
          class="absolute top-full left-0 bg-white border border-gray-300 rounded mt-1 z-10"
        >
          <div class="flex space-x-4 p-2">
            <mat-form-field appearance="outline" class="flex-1 m-0 p-0">
              <mat-select
                [(value)]="durationHour"
                class="w-full"
                (selectionChange)="onDurationChange()"
              >
                <mat-option *ngFor="let hour of hours" [value]="hour">{{
                  hour
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="flex-1 m-0 p-0">
              <mat-select
                [(value)]="durationMinute"
                class="w-full"
                (selectionChange)="onDurationChange()"
              >
                <mat-option *ngFor="let minute of minutes" [value]="minute">{{
                  minute
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
